.smarttv-api: &smarttv-api
    repository: git@github.com:MIR24/API.git
    branch: master
    keep_releases: 3
    default_timeout: 1200
    composer_action: install
    writable_mode: chmod
    writable_chmod_mode: 777
    writable_dirs: ['storage', 'storage/logs', 'storage/api-docs']
    shared_dirs: ['public/uploaded']
    shared_files: []
    #passport
    username: mirmobile
    email: test@test.com
    pass: 96570fd6a97dc9eaff5e6d751edc8906
    #fpm
    php_version: '7.1'

test-smarttv-api:
    <<: *smarttv-api
    stage: test
    local: true
    env_example_file: '.env'
    http_user: user
    deploy_path: /home/user/Bostill/Mir/api-artisan
    config_path: /home/user/Bostill/Mir/onair/database.php

dev-smarttv-api:
    <<: *smarttv-api
    user: deploy
    branch: develop
    stage: develop
    hostname: 195.128.157.246
    http_user: www-data
    deploy_path: /home/www/dev19/
    env_example_file: '/home/www/dev19/API-deploy/.env'
    cleanup_use_sudo: true
    forwardAgent: true
    multiplexing: true
    sshOptions:
        StrictHostKeyChecking: no
    php_version: '7.1'
#    inject_env:
#        APP_HTTP_SCHEME: http

.onair: &onair
    repository: git@github.com:MIR24/mir-onair.git
    keep_releases: 3
    default_timeout: 1200
    composer_action: install
    writable_mode: chmod
    writable_chmod_mode: 777
    writable_dirs: ['storage', 'storage/logs']
    shared_dirs: ['storage/app/uploads']
    shared_files: []

dev-onair:
    <<: *onair
    stage: develop_onair
    user: deploy
    branch: develop
    http_user: www-data
    hostname: 195.128.157.247
    config_path: /home/www/onair2/config/database.php
    deploy_path: /home/www/onair2
    public: true
    images_path : themes/onair/assets/images
    cleanup_use_sudo: true
    forwardAgent: true
    multiplexing: true
    sshOptions:
        StrictHostKeyChecking: no
    dbhost: '192.168.250.2'
    dbuser: 'onair'
    dbpass: '75ogh58o&^738r'
    dbname: 'onair'
#    dump: 'dump.sql'
    php_version: '7.1'

local-onair:
    <<: *onair
    stage: test_onair
    branch: develop
    local: true
    config_path: /home/user/Bostill/Mir/onair/database.php
    http_user: user
    deploy_path: /home/user/Bostill/Mir/onair
    public: true
    images_path : themes/onair/assets/images
    dbhost: 'localhost'
    dbuser: 'root'
    dbpass: 'root'
    dbname: 'onair'
    dump: 'dump.sql'
    php_version: '7.2'