test-smarttv-api:
    local: true
    stage: test
    env_example_file: .env
    deploy_path: /home/observat/work_git/mir24/api-deployer
    repository: git@github.com:MIR24/API.git
    branch: develop
    user: observat
    http_user: observat
    keep_releases: 2
    default_timeout: 1200
    composer_action: install
    writable_mode: chown
    writable_use_sudo: true
    writable_dirs: [storage,]
    shared_dirs: [storage/logs, public/uploaded]
    shared_files: []

#prod-smarttv-api:
#    local: true
#    stage: prod
#    env_example_file: .env.prod
#    deploy_path: /home/observat/work_git/mir24/api-deployer_prod
#    repository: git@github.com:MIR24/API.git
#    branch: master
#    user: observat
#    http_user: www-data
#    keep_releases: 3
#    default_timeout: 1200
